<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Svatba Jirky a Kristýny</title>

        {% load staticfiles %}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" >
        <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">

    </head>
    <body>

        {% load staticfiles %}
        <div class="container" >
            <img src="{% static 'info/kytka2.jpg' %}" class="img-responsive center-block " alt="Tyna a Jirka">
        </div>

        <div class="container">
            <h1>Svatba Jirky a Kristýny</h1>
            <p style="text-align: justify">
                V sobotu 9. června 2018 se budeme brát a budeme moc rádi, když u toho budete. Obřad se koná v 15:00 u nás ve Všedobrovicích, svatební hostina pak od 16:00 v restauraci Na Rynku. Na obojí Vás srdečně zveme - prosím dejte nám vědět, jestli Vám to klapne nebo ne, účast prosím potvrďte emailem na bekrovakristyna@gmail.com.
            </p>
            <p style="text-align: justify">
                Svatební dary nosit nemusíte, budeme vděční za Vaší přítomnost. Můžete nám ale klidně přispět na naši svatební cestu :-)
            </p>
            <p style="text-align: right">
                Týnka a Jirka
            </p>
        </div>
        <div class="container">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item center-block" src="https://www.google.com/maps/d/embed?mid=1lADy1M7OCsAXgFRdjpizrDgSL7m0w8kk" width="1000" height="800"></iframe>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>